---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<MainLayout>
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <Header />
    <main>
      <About />
      <Skills />
      <Experience />
      <Projects />
      <Contact />
    </main>
  </div>
</MainLayout>