<section class="animate-section py-12 border-b border-t">
    <h2 class="text-3xl font-semibold text-primary mb-6 text-center">About me</h2>
    <p class="text-center max-w-2xl mx-auto text-slate-100">
        I am a backend oriented developer with solid technical skills in JavaScript and Go, using technologies
        like NodeJS, Express.js, Gin, Gorilla, and others. My professional approach
        focuses on creating clean, high quality code and getting the most out of each tool.
        I actively research emerging technologies and stay updated on the latest versions of
        tools in my development toolkit.
    </p>
</section>
  