<section class="animate-section py-12 border-b">
    <h2 class="text-3xl font-semibold text-primary mb-8 text-center">Experiencia</h2>
    
    <div class="space-y-6">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-bold text-secondary mb-2">Prestadores Sanatoriales S.A</h3>
        <p class="text-gray-600 mb-2">Software Developer, Contrato de Prácticas</p>
        <p class="text-gray-500 mb-4">Mayo 2024 - Agosto 2024</p>
        <ul class="list-disc list-inside text-gray-700">
          <li>Desarrollé nuevas funcionalidades para el backend de la aplicación "Consalud En Casa"</li>
          <li>Resolví bugs y creé funcionalidades solicitadas por los clientes</li>
          <li>Trabajé en equipo y documenté mis contribuciones</li>
        </ul>
        <p class="mt-4 text-sm text-gray-500">Stack: PHP - Laravel - JavaScript - jQuery</p>
      </div>
    </div>
</section>