---
const technologies = [
    'HTML',
    'CSS',
    'JavaScript',
    'Go',
    'Gin',
    'GORM',
    'Node.js',
    'Express.js',
    'React.js',
    'Astro',
    'SQLite',
    'Microsoft SQL Server'
];
---

<section class="animate-section py-12 border-b">
  <h2 class="text-3xl font-bold text-center bg-gradient-to-r from-cyan-400 to-blue-500 bg-clip-text text-transparent mb-8">Skills</h2>
  
  <div class="flex flex-wrap justify-center gap-3">
    {technologies.map(tech => (
      <span class="bg-secondary/10 text-secondary px-3 py-1 rounded-full text-sm">
        {tech}
      </span>
    ))}
  </div>
</section>